<ion-content [fullscreen]="true">
  <app-header-notif></app-header-notif>
  <div class="titulo">
    <p>Analista Programador Computacional<span class="barra"></span></p>
  </div>

  <div class="notif">
    <div class="notify">
      <img src="../../../assets/img/notif.png" alt="">
      <div class="text1">
        Se ha registrado tu asistencia
      </div>
      <div class="text2">
        Proceso de Portafolio Final
        
      </div>
    </div>
  </div>
  <ion-list>
    <ion-item *ngFor="let dato of datosDeAPI">
      {{ dato.p_nombre }} 
      {{ dato.s_nombre }} 
      {{ dato.ap_paterno }} 
      {{ dato.ap_materno }}
    </ion-item>
  </ion-list>
  <ion-button (click)="listarprofe()">Listar API</ion-button>
  <ion-button (click)="listar()">Listar Alumno</ion-button>

  <div class="trash">
    <img src="../../../assets/img/delete.png" alt="">
  </div>

</ion-content>
