<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true" [ngClass]="{'fondo': !showBackgroundColor, 'fondo-color': showBackgroundColor}">
  <div class="container">
    <div class="DuocLogo">
      <img src="../../../assets/img/duocuclogo.png" alt="asdadasd" class="logo">
    </div>
    
    <div style="margin-bottom: 20px;"></div>
  
    <ion-list class="custom-list">
      <ion-item class="custom-item">
        <ion-input labelPlacement="floating" value="">
          <ion-input [(ngModel)]="usuario" label="Ingrese Usuario" labelPlacement="floating"
         placeholder="ingrese" class="input-login"></ion-input>
        </ion-input>
      </ion-item>
    </ion-list>
  
    <div style="margin-bottom: 20px;"></div>
  
    <ion-list class="custom-list">
      <ion-item class="custom-item">
        <ion-input labelPlacement="floating" value="">
          <ion-input [(ngModel)]="password" label="Ingrese Password" type="password" 
        labelPlacement="floating"
         placeholder="ingrese" class="input-login"></ion-input>
        </ion-input>
      </ion-item>
    </ion-list>

    <p>
      ¿Ha olvidado la contraseña? <a (click)="irRestablecerW()" id="reset-link">Restablécela aquí</a>
    </p>

    <ion-button class="button-ionic" (click)="irProf()">Ingresar</ion-button>

    <div class="fondodes">
      <ion-toggle [enableOnOffLabels]="true" (ionChange)="toggleBackground($event)">Ocultar imagen de fondo</ion-toggle>
    </div>
  </div>
</ion-content>
