ion-content, ion-text, p, h1, h2, h3, h4, h5, h6, a, span, div, label, button {
    color: #ffffff;
  }
  
  ion-title {
    color: #ffffff;
  }
  ion-menu-button{
    color: #ffffff;
  }
  ion-content{
    --background: #121212;
    --color: #ffffff !important;
  }
  